<%- include('../partials/_header'); %>

    <section class="banner">
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-track"></div>
          <button class="carousel-btn prev"><img src="/images/icon/arrowleft.png" alt="prev"></button>
          <button class="carousel-btn next"><img src="/images/icon/arrowright.png" alt="next"></button>
          <div class="carousel-dots"></div>
        </div>
      </div>
    </section>
    <%- include('../partials/_footer'); %>

<script src="/js/script.js"></script>